<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-light" href="https://www.linkedin.com/in/joão-marcos-525564226/" target="_blank">  Linkedin</a>
        <a class="nav-link text-light" href="https://www.linkedin.com/in/joão-marcos-525564226/" target="_blank">GitHub</a>
        <a class="nav-link text-light" href="#" target="_blank">Repositório</a>
      </div>
    </div>
  </div>
</nav>
